make-blueprint.json
{
 "name": "NXT - Produção Diária",
 "flow": [
  {
   "id": 1,
   "mapper": {},
   "module": "gateway:CustomWebHook",
   "version": 1,
   "metadata": {
    "restore": {
     "parameters": {
      "hook": {
       "label": "producao-nxt"
      }
     }
    },
    "designer": {
     "x": 0,
     "y": 0
    },
    "parameters": [
     {
      "name": "hook",
      "type": "hook:gateway-webhook",
      "label": "Webhook",
      "required": true
     },
     {
      "name": "maxResults",
      "type": "number",
      "label": "Maximum number of results"
     }
    ]
   },
   "parameters": {
    "hook": null,
    "maxResults": 1
   }
  },
  {
   "id": 2,
   "mapper": {
    "array": "{{1.motos}}"
   },
   "module": "builtin:BasicFeeder",
   "version": 1,
   "metadata": {
    "expect": [
     {
      "mode": "edit",
      "name": "array",
      "spec": [],
      "type": "array",
      "label": "Array"
     }
    ],
    "restore": {
     "expect": {
      "array": {
       "mode": "edit"
      }
     }
    },
    "designer": {
     "x": 300,
     "y": 0
    }
   },
   "parameters": {}
  },
  {
   "id": 3,
   "mapper": {
    "row": {
     "0": "{{1.data}}",
     "1": "{{2.modelo}}",
     "2": "{{2.cor}}",
     "3": "{{2.chassi}}",
     "4": "{{2.motor}}",
     "5": "{{2.estado}}",
     "6": "{{1.galpao}}",
     "7": "{{2.obs}}"
    },
    "select": "list",
    "selectB": "my",
    "workbook": "/Estoques/NXT - Estoque Junho 2026.xlsx",
    "valueType": "values",
    "worksheet": "📥 Produção Diária"
   },
   "module": "microsoft-excel:addAWorksheetRow",
   "version": 2,
   "metadata": {
    "expect": [
     {
      "name": "select",
      "type": "select",
      "label": "Select a method",
      "required": true,
      "validate": {
       "enum": [
        "map",
        "list"
       ]
      }
     },
     {
      "name": "selectB",
      "type": "select",
      "label": "Choose your OneDrive location",
      "required": true,
      "validate": {
       "enum": [
        "my",
        "site",
        "group"
       ]
      }
     },
     {
      "name": "workbook",
      "type": "file",
      "label": "Workbook",
      "required": true
     },
     {
      "name": "worksheet",
      "type": "select",
      "label": "Worksheet",
      "required": true
     },
     {
      "name": "valueType",
      "type": "select",
      "label": "Type of Values Being Entered",
      "required": true,
      "validate": {
       "enum": [
        "formulas",
        "formulasLocal",
        "values"
       ]
      }
     },
     {
      "name": "row",
      "spec": [
       {
        "name": "0",
        "type": "text",
        "label": "(A): Id"
       },
       {
        "name": "1",
        "type": "text",
        "label": "(undefined): Hora de início"
       },
       {
        "name": "2",
        "type": "text",
        "label": "(undefined): Hora de conclusão"
       },
       {
        "name": "3",
        "type": "text",
        "label": "(undefined): Email"
       },
       {
        "name": "4",
        "type": "text",
        "label": "(undefined): Nome"
       },
       {
        "name": "5",
        "type": "text",
        "label": "(undefined): MOTIVO"
       },
       {
        "name": "6",
        "type": "text",
        "label": "(undefined): Cliente"
       },
       {
        "name": "7",
        "type": "text",
        "label": "(undefined): Endereço completo"
       },
       {
        "name": "8",
        "type": "text",
        "label": "(undefined): Cidade"
       },
       {
        "name": "9",
        "type": "text",
        "label": "(undefined): Estado"
       },
       {
        "name": "10",
        "type": "text",
        "label": "(undefined): CPF / CNPJ: "
       },
       {
        "name": "11",
        "type": "text",
        "label": "(undefined): ☎Telefone (DDD + Número)"
       },
       {
        "name": "12",
        "type": "text",
        "label": "(undefined): QUANTIDADE"
       },
       {
        "name": "13",
        "type": "text",
        "label": "(undefined): Modelo"
       },
       {
        "name": "14",
        "type": "text",
        "label": "(undefined): Cor"
       },
       {
        "name": "15",
        "type": "text",
        "label": "(undefined): Capacete"
       },
       {
        "name": "16",
        "type": "text",
        "label": "(undefined): Qual a cor do capacete?"
       },
       {
        "name": "17",
        "type": "text",
        "label": "(undefined): 📌Chassi"
       },
       {
        "name": "18",
        "type": "text",
        "label": "(undefined): 📌Número do motor"
       },
       {
        "name": "19",
        "type": "text",
        "label": "(undefined):  💲Valor NFE "
       },
       {
        "name": "20",
        "type": "text",
        "label": "(undefined): 📍Local da Venda"
       },
       {
        "name": "21",
        "type": "text",
        "label": "(undefined): Vendedor"
       },
       {
        "name": "22",
        "type": "text",
        "label": "(undefined): Data da Venda"
       },
       {
        "name": "23",
        "type": "text",
        "label": "(undefined): Forma de Pagamento"
       },
       {
        "name": "24",
        "type": "text",
        "label": "(undefined): Pix"
       },
       {
        "name": "25",
        "type": "text",
        "label": "(undefined): Pix Pos"
       },
       {
        "name": "26",
        "type": "text",
        "label": "(undefined): Dinheiro"
       },
       {
        "name": "27",
        "type": "text",
        "label": "(undefined): Cartão de debito"
       },
       {
        "name": "28",
        "type": "text",
        "label": "(undefined): Cartão de Credito"
       },
       {
        "name": "29",
        "type": "text",
        "label": "(undefined): Outros"
       },
       {
        "name": "30",
        "type": "text",
        "label": "(undefined): O cliente irá:"
       },
       {
        "name": "31",
        "type": "text",
        "label": "(undefined): Em caso de entrega, o produto sairá:"
       },
       {
        "name": "32",
        "type": "text",
        "label": "(undefined): Observações entrega "
       },
       {
        "name": "33",
        "type": "text",
        "label": "(undefined): Prazo Entrega"
       },
       {
        "name": "34",
        "type": "text",
        "label": "(undefined): Baixa Estoque"
       },
       {
        "name": "35",
        "type": "text",
        "label": "(undefined): Baixa Estoque (Normalizado)"
       },
       {
        "name": "36",
        "type": "text",
        "label": "(undefined): Status Baixa"
       }
      ],
      "type": "collection",
      "label": "Row"
     }
    ],
    "restore": {
     "expect": {
      "select": {
       "label": "Select from the list"
      },
      "selectB": {
       "label": "My Drive"
      },
      "valueType": {
       "mode": "chose",
       "label": "Values"
      },
      "worksheet": {
       "mode": "chose",
       "label": "Dados_Whatsapp"
      }
     },
     "parameters": {
      "__IMTCONN__": {
       "data": {
        "scoped": "true",
        "connection": "azure"
       },
       "label": "My Microsoft connection (Carlos Filippi <adm@nxt.eco.br>)"
      }
     }
    },
    "designer": {
     "x": 600,
     "y": 0
    },
    "interface": [
     {
      "name": "id",
      "type": "text",
      "label": "Row ID"
     },
     {
      "name": "row",
      "spec": [
       {
        "name": "a",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(A): Id"
       },
       {
        "name": "b",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(B): Hora de início"
       },
       {
        "name": "c",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(C): Hora de conclusão"
       },
       {
        "name": "d",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(D): Email"
       },
       {
        "name": "e",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(E): Nome"
       },
       {
        "name": "f",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(F): MOTIVO"
       },
       {
        "name": "g",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(G): Cliente"
       },
       {
        "name": "h",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(H): Endereço completo"
       },
       {
        "name": "i",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(I): Cidade"
       },
       {
        "name": "j",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(J): Estado"
       },
       {
        "name": "k",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(K): CPF / CNPJ: "
       },
       {
        "name": "l",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(L): ☎Telefone (DDD + Número)"
       },
       {
        "name": "m",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(M): QUANTIDADE"
       },
       {
        "name": "n",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(N): Modelo"
       },
       {
        "name": "o",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(O): Cor"
       },
       {
        "name": "p",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(P): Capacete"
       },
       {
        "name": "q",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(Q): Qual a cor do capacete?"
       },
       {
        "name": "r",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(R): 📌Chassi"
       },
       {
        "name": "s",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(S): 📌Número do motor"
       },
       {
        "name": "t",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(T):  💲Valor NFE "
       },
       {
        "name": "u",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(U): 📍Local da Venda"
       },
       {
        "name": "v",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(V): Vendedor"
       },
       {
        "name": "w",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(W): Data da Venda"
       },
       {
        "name": "x",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(X): Forma de Pagamento"
       },
       {
        "name": "y",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(Y): Pix"
       },
       {
        "name": "z",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(Z): Pix Pos"
       },
       {
        "name": "aa",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(AA): Dinheiro"
       },
       {
        "name": "ab",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(AB): Cartão de debito"
       },
       {
        "name": "ac",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(AC): Cartão de Credito"
       },
       {
        "name": "ad",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(AD): Outros"
       },
       {
        "name": "ae",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(AE): O cliente irá:"
       },
       {
        "name": "af",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(AF): Em caso de entrega, o produto sairá:"
       },
       {
        "name": "ag",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(AG): Observações entrega "
       },
       {
        "name": "ah",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(AH): Prazo Entrega"
       },
       {
        "name": "ai",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(AI): Baixa Estoque"
       },
       {
        "name": "aj",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(AJ): Baixa Estoque (Normalizado)"
       },
       {
        "name": "ak",
        "spec": [
         {
          "name": "formula",
          "type": "text",
          "label": "Formula"
         },
         {
          "name": "formulaLocal",
          "type": "text",
          "label": "Formula Local"
         },
         {
          "name": "numberFormat",
          "type": "text",
          "label": "Number Format"
         },
         {
          "name": "text",
          "type": "text",
          "label": "Text"
         },
         {
          "name": "value",
          "type": "text",
          "label": "Value"
         },
         {
          "name": "valueType",
          "type": "text",
          "label": "Value Type"
         }
        ],
        "type": "collection",
        "label": "(AK): Status Baixa"
       }
      ],
      "type": "collection",
      "label": "Row"
     }
    ],
    "parameters": [
     {
      "name": "__IMTCONN__",
      "type": "account:azure",
      "label": "Connection",
      "required": true
     }
    ]
   },
   "parameters": {
    "__IMTCONN__": 5184651
   }
  }
 ],
 "metadata": {
  "instant": true,
  "version": 1,
  "scenario": {
   "dlq": false,
   "slots": null,
   "dataloss": false,
   "maxErrors": 3,
   "autoCommit": true,
   "roundtrips": 1,
   "sequential": false,
   "confidential": false,
   "freshVariables": false,
   "autoCommitTriggerLast": true
  },
  "designer": {
   "orphans": []
  },
  "zone": "us2.make.com"
 }
}